# Supabase Configuration
VITE_SUPABASE_URL=https://doshhdcfgheqhxfycpvm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvc2hoZGNmZ2hlcWh4ZnljcHZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4Mzg5NTAsImV4cCI6MjEwMzQxNDk1MH0.19eKWCKgAlvv-NrcWqZhYu3gMQ2F4mj7emvNXVnHSoM